<section class="filter">

  <div class="filter_left_side">
    <button mat-raised-button color="warn">
      Добавить
      <mat-icon iconPositionEnd>add</mat-icon>
    </button>

    <button mat-raised-button color="warn" (click)="blockOrUnlockUser(statusEnum.ACTIVE)">
      Разблокировать
      <mat-icon iconPositionEnd>done</mat-icon>
    </button>

    <button mat-raised-button color="warn" (click)="blockOrUnlockUser(statusEnum.BLOCKED)">
      Заблокировать
      <mat-icon iconPositionEnd>close</mat-icon>
    </button>
  </div>

  <div>
    <button mat-flat-button disabled>
      Фильтр
      <mat-icon class="filter-icon">filter_list</mat-icon>
    </button>
  </div>

</section>

<section class="field">
  <mat-card>
    <mat-card-title>Фильтр</mat-card-title>
    <mat-card-content>
      <form class="field_form" [formGroup]="form">

        <app-input-text
          [label]="'Логин'"
          [formControl]="loginControl"
          errorMsg="Недопустимые символы"
        >
        </app-input-text>

        <app-input-text
          [label]="'Телефон'"
          [controlType]="'text'"
          [isNumber]="true"
          [formControl]="telControl"
        >
        </app-input-text>
        <app-input-text
          [label]="'Дата создания'"
          [controlType]="'date'"
          [formControl]="dateOfCreateControl"
        >
        </app-input-text>


        <app-select
          [label]="'Статус'"
          [options]="status"
          [formControl]="statusControl"
        >
        </app-select>

        <app-input-text
          [label]="'E-mail'"
          [controlType]="'email'"
          [formControl]="emailControl"
          errorMsg="Недопустимые символы"
        >
        </app-input-text>
        <app-select
          [label]="'Роль'"
          [options]="role"
          [formControl]="roleControl"
        >
        </app-select>

        <app-input-text
          [label]="'Дата изменения'"
          [controlType]="'date'"
          [formControl]="dateOfChangeControl"
        >
        </app-input-text>

      </form>
    </mat-card-content>
    <div class="filter_bottom_side">
      <button mat-flat-button>
        Применить
      </button>

      <button mat-flat-button>
        Отмена
      </button>

      <button  mat-flat-button>
        Сбросить
      </button>
    </div>
  </mat-card>

</section>

<section>
  <app-user-list></app-user-list>
</section>
