<section class="aside-menu">
  <nav>
    <ul>
      <li>
        <a routerLink="home" routerLinkActive="active">
      <span class="aside-menu-link">
        Суперагент
        <span class="aside-menu-link_item">
          <img src="assets/images/svg/input-arrow-down.svg">
        </span>
      </span>

          <p>Банк ВТБ(ПАО)</p>
        </a>
      </li>

      <p class="aside-menu-line"></p>
      <li>
        <a routerLink="about" routerLinkActive="active">
          <div>
            <div class="aside-menu-link">
              <img src="assets/images/svg/Group.svg">
              <span>Управление</span>
            </div>
            <div class="aside-menu_cart">
              <p>Карточка контрагента</p>
              <p>Договоры контрагента</p>
            </div>
          </div>
        </a>
      </li>

      <li>
        <a routerLink="login" routerLinkActive="active">
      <span class="aside-menu-link">
        <img src="assets/images/svg/ic_supervisor_account_48px%201.svg">
        <span>Субагенты</span>
      </span>
        </a>
      </li>

    </ul>
  </nav>
</section>
