.aside-menu {
  background: #666F78;
  color: #FFFFFF;
  height: 100vh;
  font-family: sans-serif;
  width: 273px;

  nav ul {
    margin: 0;
    padding: 0;

    li:nth-child(1), li:nth-child(2) {
      display: none;
    }

    li:nth-child(3) {
      border-bottom: 1px solid;
    }

    li {
      list-style: none;
      padding: 20px 45px 13px 45px;

      a {
        color: white;
        text-decoration: none;
        text-align: left;
        line-height: 24px;
      }

    }
  }

  &-line {
    padding: 0;
    margin-bottom: 2px;

    a {
      position: relative;
      left: 45px;
    }
  }

  &-link {
    display: flex;
    font-weight: 700;
    font-size: 20px;

    img {
      margin-right: 15px;
    }

    &_item {
      margin-left: 13px;
    }

    &_superagent {
      p:nth-child(2) {
        font-weight: 400;
        font-size: 13px;
      }
    }
  }

  &_cart {
    margin-left: 40px;
    font-size: 13px;

    p:nth-child(1) {
      border-bottom: 1px solid #FFFFFF;
      width: fit-content;
    }
  }
}

@media screen and (max-width: 1024px) {
  .aside-menu {
    padding: 8px;
    width: 300px;

    span {
      font-weight: 300;
      font-size: 18px;

    }

    li:nth-child(1), li:nth-child(2) {
      display: block !important;
    }

    li:nth-child(1),
    li:nth-child(2),
    li:nth-child(3) {
      border-bottom: 1px solid;
    }

    nav ul li {
      padding: 15px;
      margin-left: 0 !important;


      &:nth-child(3) {
        display: flex;
      }

      a {
        position: relative;
        left: 0;
      }
    }

    &-link {
      &_superagent {
        width: 230px;
        justify-content: space-between;
        display: flex;

        p:nth-child(1) {
          font-size: 18px
        }

        p:nth-child(2) {
          font-size: 16px;
          font-weight: 200;
          color: #E8EBED;
        }

      }

      div:nth-child(1) {
        display: flex;
      }

      &_item {
        margin-left: 10px;
      }
    }
  }
}

.active {
  background-color: #A2A9B1;
}


