.header {
  &_content {
    display: flex;
    line-height: 16px;

    @media screen and (max-width: 1024px) {
      display: none;
    }

    &_user-image {
      background: #C4C4C4;
      border-radius: 50%;
    }

    &_user {
      display: flex;
      flex-direction: column;
      color: #FFFFFF;
      margin: 0 10px;
      font-family: sans-serif;
      font-size: 14px;
    }
  }
}
