<div class="input">
  <label class="input_label"
         [ngClass]="{'drow-invalid-label':control?.invalid && (control?.dirty || control?.touched)}">{{label}} </label>

  <div class="input-block">
    <input
      class="input-block_text"
      matInput
      [name]="controlName"
      [type]="controlType"
      [class.invalid]="valid"
      (ngModelChange)="modelChange($event)"
      [(ngModel)]="model"
      [prefix]="prefix"
      [mask]="maskChoose"
    />
    <div class="input-block_remove" *ngIf="!!model" (click)="removeInputValue()">
      <img src="./assets/images/svg/remove.svg">
    </div>
  </div>

  <small class="error-msg" *ngIf="control?.invalid && (control?.dirty || control?.touched)">{{errorMsg}}</small>
</div>
