<div class="input">
  <label class="input_label"
         [ngClass]="
         {'drow-invalid-label': !ngControl?.valid && ngControl?.dirty}">
    {{label}}
  </label>

  <div class="input-block">
    <input
      class="input-block_text"
      matInput
      autocomplete="off"
      [name]="controlName"
      [type]="controlType"
      [class.invalid]="ngControl?.valid"
      (ngModelChange)="modelChange($event)"
      [(ngModel)]="model"
      [prefix]="prefix"
      [mask]="maskChoose"
    />

    <div class="input-block_remove" *ngIf="!!model" (click)="removeInputValue()">
      <img *ngIf="ngControl?.valid" src="./assets/images/svg/remove.svg">
      <img *ngIf="!ngControl?.valid" src="./assets/images/svg/failed.svg">
    </div>
  </div>

  <small class="error-msg" *ngIf="!ngControl?.valid && ngControl?.dirty ">{{errorMsg}}</small>
</div>
